* {
	margin: 0;
}

html, body {
	height: 100%;
}

html {
	background-color: #3B3B3B;
	color: white;
	width: 800px;
	margin: auto;
	min-width: 800px;
	font-family: Georgia,'Times New Roman',times,serif;
}

.wrapper {
	padding-top: 50px;
	margin: auto;
	width: 750px;
}

a, a:visited {
	color: #8AC6F2;
	outline: none;
	text-decoration: underline;
}

a:hover {
	text-decoration: none;
}

a img {
	border: none;
}

#menu {
	list-style-type: none;
	float: left;
	margin: 10px 50px 0 0;
}

#menu li {
	display: inline;
	margin-right: 15px;
}

#menu li a {
	color: #A3FF8F;
}

#greeting {
	font-size: 4em;
	text-decoration: none;
	color: #EDDD3D;
	text-shadow: 1px 2px 3px black;
}

#about, #resume {
	margin-top: 25px;
	font-family: 'Cabin', arial, serif;
}

#theplug {
	font-size: 1.1em;
}

#theplug h3 {
	text-align: right;
	margin-top: 25px;
	color: #FBA5B3;
	text-shadow: 1px 2px 3px black;
}

#theplug p {
	margin-top: 15px;
}

#theplug ul {
	margin: 15px 0;
}

#ilove, #iplay {
	font-size: 1.6em;
	margin-top: 10px;
}

#iplay li {
	display: inline;
	list-style-type: none;
}

#iplay_pull {
	margin-top: -15px;
}

#ilove {
	font-family: 'VT323', arial, serif;
}

#footer {
	margin: 100px auto auto;
	width: 750px;
	height: 50px;
}

.large {
	font-size: 3em;
}

.dark {
	color: #000;
}

.pink {
	color: #FBA5B3;
}

.green {
	color: #A3FF8F;
}

.blue {
	color: #8AC6F2;
}

.left {
	float:left;
}

.right {
	float: right;
}

.qtip-content {
	font-size: 1.6em;
	text-transform: lowercase;
}

.me {
	text-shadow: 1px 2px 3px black;
}

#about {
	display: none;
}